@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  option {
    color: #000;
  }
}

@theme {
  --animate-scrollleft: scrollleft 10s linear 0.3s infinite;
  --animate-scroll: scroll 20s linear infinite;
  --animate-enter: enter 0.3s ease-out forwards;
  --animate-out: out 0.3s ease-in forwards;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .flip-card-container {
    perspective: 1000px;
  }

  .flip-card {
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .flip-card.flipped {
    transform: rotateY(180deg);
  }

  .flip-card-face {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }

  @keyframes scrollleft {
    to {
      left: -90px;
    }
  }

  @keyframes scroll {
    to {
      left: calc(480 * 2 * -1);
    }
  }

  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateX(-100%) scale(1);
    }

    100% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  @keyframes out {
    0% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }

    100% {
      opacity: 0;
      transform: translateX(-100%) scale(1);
    }
  }
}