@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@theme {
  --animate-scrollleft: scrollleft 10s linear 0.3s infinite;
  --animate-scroll: scroll 20s linear infinite;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
  }

  @keyframes scrollleft {
    to {
      left: -90px;
    }
  }

  @keyframes scroll {
    to {
      left: calc(480 * 2 * -1);
    }
  }
}
