@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@theme {
  --animate-slide: slideIn 0.8s ease-out forwards;

  @keyframes slideIn {
    0% { 
      opacity: 0; 
      transform: translateY(50px) scale(0.9) skewY(5deg);
    }
    100% { 
      opacity: 1; 
      transform: translateY(0) scale(1) skewY(0deg);
    }
  }
}
